.row1 {
  margin-bottom: 30px;
}

.col-2-of-1 {
    background-color: red;
    margin-right: 30px;
    float: left;
    width: calc((100% - 30px) / 2)
}

.col-2-of-2 {
    background-color: blue;
    float: right;
    margin-right: 30px;
    width: calc((100% - 30px) / 2)
}


.col-3-of-1 {
    background-color: red;
    margin-right: 30px;
    float: left;
    width: calc((100% - 60px) / 3)
}

.col-3-of-2 {
    background-color: blue;
    float: left;
    margin-right: 30px;
    width: calc((100% - 60px) / 3)
}

.col-3-of-3 {
    background-color: yellow;
    float: left;
    margin-right: 30px;
    width: calc((100% - 60px) / 3)
}

.row1 div:last-child {
    margin-right: 0px;
}

.row1::after {
    clear: both;
    content: '';
    display: block;
}